<div class="pt-3">
    <h3 class="text-light ms-2">Current Bookings</h3>
    <ul class="list-inline">
        <li class="list-inline-item list-unstyled m-2" *ngFor="let booking of bookings">
            <div class="card" style="width: 15rem;">
                <div class="card-body image-container">
                    <i class="fa fa-3x fa-arrow-circle-left cursor-pointer" aria-hidden="true" (click)="returnBook(booking)"></i>
                    <h6 class="mt-2 text-align-left">{{getSubstring(0, 20, booking.bookTitle)}}</h6>
                    <p class="small text-align-left">{{getSubstring(0, 75, booking.username)}}</p>
                </div>
                <div class="card-footer align-content-end bg-info">
                    <a>Return Date: {{booking.dateOfReturn.toDate() | date: 'mediumDate'}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>
