<div class="pt-3 text-center">
    <ul class="list-inline">
        <li class="list-inline-item list-unstyled m-2" *ngFor="let book of filteredBooks">
            <div class="card" style="width: 15rem;">
                <div class="card-body image-container">
                    <img src="{{book.bookImg}}" class="card-img-top hover-zoom" alt="..." height="300vh">
                    <h6 class="mt-2 text-align-left">{{getSubstring(0, 20, book.bookTitle)}}</h6>
                    <p class="small text-align-left">{{getSubstring(0, 75, book.bookDesc)}}</p>

                    <span class="pe-3">In Stock :</span>
                    <p-badge [value]="book.qty.toString()" severity="success"></p-badge>
                </div>
                <div class="card-footer align-content-end">
                    <a>{{book.rentPrice}}</a>
                    <a (click)="bookNow(book.bookId, book.bookTitle)" data-bs-toggle="modal"
                       data-bs-target="#bookingModel" aria-hidden="true"
                       class="btn btn-sm btn-primary pull-right cursor-pointer">Book Now!</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="modal modal-lg fade" id="bookingModel" tabindex="-1" aria-labelledby="booking" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="booking">Assign a book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="bookingForm">
                    <div class="mb-3 mt-3">
                        <label for="bookTitle" class="form-label small">Selected Book Title</label>
                        <input type="text" class="form-control form-control-sm" id="bookTitle"
                               formControlName="bookTitle" name="email">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="username" class="form-label small">Select Assignee</label>
                        <select class="form-select" aria-label="Default select example" id="username"
                                formControlName="username">
                            <option selected>Select one of following users</option>
                            <option *ngFor="let user of users" value="{{user.email}}">{{user.lastName}}, {{user.firstName}}</option>
                        </select>

                    </div>
                    <div class="mb-3 mt-3">
                        <label for="dateOfReturn" class="form-label small">Return Date</label><br>
                        <p-calendar formControlName="dateOfReturn" id="dateOfReturn" dateFormat="dd.mm.yy"></p-calendar>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="assignNow()">Assign
                </button>
            </div>
        </div>
    </div>
</div>


