<div class="pt-3">
    <ul class="list-inline justify-content-evenly">
        <li class="list-inline-item list-unstyled m-2">
            <div class="card" style="width: 15rem">
                <div class="card-body">
                    <img src="assets/images/books/3423209690.png" class="card-img-top" alt="..." height="300vh">
                    <h6 class="mt-2">Book title</h6>
                    <p class="small">Book Description: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </li>
        <li class="list-inline-item list-unstyled m-2">
            <div class="card" style="width: 15rem">
                <div class="card-body">
                    <img src="assets/images/books/3959721714.png" class="card-img-top" alt="..." height="300vh">
                    <h6 class="mt-2">Book title</h6>
                    <p class="small">Book Description: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </li>
        <li class="list-inline-item list-unstyled m-2">
            <div class="card" style="width: 15rem">
                <div class="card-body">
                    <img src="assets/images/books/3423209690.png" class="card-img-top" alt="..." height="300vh">
                    <h6 class="mt-2">Book title</h6>
                    <p class="small">Book Description: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </li>
        <li class="list-inline-item list-unstyled m-2">
            <div class="card" style="width: 15rem">
                <div class="card-body">
                    <img src="assets/images/books/3959721714.png" class="card-img-top" alt="..." height="300vh">
                    <h6 class="mt-2">Book title</h6>
                    <p class="small">Book Description: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Book Now!</a>
                </div>
            </div>

        </li>

    </ul>
</div>
