<div class="py-3">
    <i class="fa fa-3x fa-user-plus text-light cursor-pointer" aria-hidden="true"
       data-bs-toggle="modal" data-bs-target="#userModel">
        <span class="text-light mt-2 display-8 ms-2">Register a new user</span>
    </i>
</div>

<div class="modal fade" id="userModel" tabindex="-1" aria-labelledby="userModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModelLabel">Add a new liberary user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddUserForm">
                    <div class="mb-3 mt-3">
                        <label for="firstName" class="form-label small">First Name</label>
                        <input type="text" class="form-control form-control-sm" id="firstName"
                               formControlName="firstName" placeholder="enter alphabets only..." name="email">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="lastName" class="form-label small">Last Name</label>
                        <input type="text" class="form-control form-control-sm" id="lastName" formControlName="lastName"
                               placeholder="enter alphabets only..." name="email">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="dob" class="form-label small">Date of Birth</label>
                        <input type="text" class="form-control form-control-sm" id="dob" formControlName="dob"
                               placeholder="enter date of birth..." name="email">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label small">Email</label>
                        <input type="email" class="form-control form-control-sm" id="email" formControlName="email"
                               placeholder="Enter your email..." name="email">
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label small">Contact</label>
                        <input type="number" class="form-control form-control-sm" id="contact" formControlName="contact"
                               placeholder="enter numbers only..." name="pswd">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label small">Address</label>
                        <input type="text" class="form-control form-control-sm" id="address" formControlName="address"
                               placeholder="enter you complete address..." name="address">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="AddUserForm.invalid" (click)="saveNewUser()"
                        data-bs-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <p-table
        #dt1
        [value]="users | async"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['studentId', 'firstName', 'lastName', 'email', 'contact']"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input #userId pInputText type="text" class="form-control" (input)="dt1.filterGlobal(userId.value, 'contains')"
                           placeholder="Search user here"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-users>
            <tr>
                <td>
                    <span class="ml-1 vertical-align-middle">{{users.studentId}}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{users.firstName}}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{users.lastName}}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{users.dob}}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{users.email}}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{users.contact}}</span>
                </td>
                <td>
                    <span class="ml-1 vertical-align-middle">{{users.address}}</span>
                </td>
                <td class="text-center">
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="NoUsersFound">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

